@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply font-sans m-0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-slate-800;
  }

  h1:first-of-type,
  h2:first-of-type,
  h3:first-of-type,
  h4:first-of-type,
  h5:first-of-type,
  h6:first-of-type,
  p:first-of-type {
    @apply mt-0;
  }

  p {
    @apply md:text-lg text-justify text-slate-500;
  }

  img,
  iframe {
    @apply align-bottom;
  }

  button {
    @apply cursor-pointer text-base border-solid;
  }

  .bg-hero {
    background-image: radial-gradient(
        hsla(0, 0%, 10%, 0.5) 25%,
        transparent 100%
      ),
      url("https://res.cloudinary.com/djcrikddy/image/upload/v1684092647/bienias.dev/abstract-background-illustration-pattern-design-backdrop-shape-generative-ai.webp");
  }
}
